<p style="color: green"><%= flash[:notice] %></p>
<% form_for(@memberships) do |f| %>
	<table class="fields_list" id="membership_history">
	  <tr>
			
			<th>Admit Date</th>
			<th colspan="2">Paid Through</th>
			<th>Category</th>
			<th>Status</th>
	  </tr>		
		<%= render 'membership_fields', :f => f %>

	</table>
	<p style="clear: left"><%#= link_to_function "Add membership" do |page|
		page.insert_html :bottom, 'membership_history', f      
	#page[:membership_history].
	end %>
	</p>
	<p><%= f.submit "Save" %></p>
<% end %>