<div id="sidebar">
	<ul>
		<li></li>
	</ul>
</div>
<div id="content">
  <div id="header">
    <h1>AFM Membership Framework</h1>
		<p id="breadcrumbs"><%= link_to 'Home', root_path %> &rarr; <%= link_to 'Locals', locals_path %> &rarr; Add</p>
  </div>
	<h2>Add Local</h2>
	<%= render :partial => 'edit_new', :locals => {:form_action => 'Add Local'} %>
</div>