<div id="sidebar">
	<ul>
		<li><%= link_to 'Back', musicians_path %></li>
	</ul>
</div>
<div id="content">
  <div id="header">
    <h1><%= link_to 'AFM Membership Framework', root_path %></h1>
  </div>
	<h1>Add musician</h1>
	<%= render :partial => 'edit_new', :locals => {:form_action => 'Add user'} %>
</div>