<p>
  <b>Name:</b>
  <%=h @constant.name %>
</p>

<p>
  <b>Thevalue:</b>
  <%=h @constant.thevalue %>
</p>


<%= link_to 'Edit', edit_constant_path(@constant) %> |
<%= link_to 'Back', constants_path %>