<div id="sidebar">
</div>
<div id="content">
  <div id="header">
    <h1>AFM Membership Framework</h1>
		<p id="breadcrumbs"><%= link_to 'Home', root_path %> &rarr; <%= link_to 'Instruments', instruments_path %> &rarr; Add</p>
  </div>
  <h2>Add Instrument</h2>
	<%= render 'edit_new', :form_action => 'Add' %>
</div>